.wrapper {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: auto;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #c9cacc;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  padding: 0 16px;
}

.inputError {
  color: #eb1717;
  border: 1px solid #eb1717;
}

.label {
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #424242;
  margin-bottom: 7px;
}

.errMessage {
  color: #eb1717;
}

.labelError {
  color: #eb1717;
}
