.wrapper {
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 900px;
  overflow: scroll;
  overflow-x: hidden;
}
.wrapper::-webkit-scrollbar {
  padding: 0;
  border-radius: 5px;
  width: 3px;
}
.wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 1px 1px 10px #f5bf43;
}
.el {
  display: flex;
  color: rgb(223, 188, 71);
  margin: 5px;
  background-color: wheat;
  padding: 10px;
}
.img {
  height: 250px;
  width: 200px;
  object-fit: cover;
  background-color: aliceblue;
}
.card_data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
